<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.voluntir.voluntir">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/voluntir_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.com.voluntir.adapter.AdapterAprovacao"></activity>
        <activity android:name="br.com.voluntir.ong.AprovacaoCandidatoActivity" />
        <activity android:name="br.com.voluntir.voluntario.VagaVoluntarioActivity" />
        <activity android:name=".VoluntarioVisualizarVaga" />
        <activity android:name="br.com.voluntir.voluntario.CandidaturaActivity" />
        <activity android:name=".VagaActivity" />
        <activity android:name=".MenuOngActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivityVoluntario" />
        <activity android:name=".LoginActivityONG" />
        <activity android:name="br.com.voluntir.voluntario.MenuVoluntarioActivity" />
        <activity android:name="br.com.voluntir.voluntario.CadastroVoluntarioActivity" />
        <activity android:name="br.com.voluntir.voluntario.MinhaContaVoluntarioActivity" />
        <activity android:name=".EsqueceuASenhaActivity" />
        <activity android:name="br.com.voluntir.ong.MinhaContaONGActivity" />
        <activity android:name="br.com.voluntir.ong.CadastroVagaActivity" />
        <activity android:name="br.com.voluntir.ong.CadastroONGActivity" />
        <activity android:name=".VisualizacaoVagaActivity" />
    </application>

</manifest>