<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.voluntir.voluntir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/voluntir_icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/voluntir_icon2"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VoluntarioVisualizarVaga"></activity>
        <activity android:name=".EditarMinhasVagas" />
        <activity android:name=".EditarVaga" />
        <activity android:name=".VisualizarPerfilOng" />
        <activity android:name=".PerfilVoluntario" />
        <activity android:name=".MinhasVagasActivity" />
        <activity android:name="br.com.voluntir.voluntario.VagaVoluntarioActivity" />
        <activity android:name="br.com.voluntir.voluntario.MinhaCandidaturaActivity" />
        <activity android:name=".VagaActivity" />
        <activity android:name=".MenuOngActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivityVoluntario" />
        <activity android:name=".LoginActivityONG" />
        <activity android:name="br.com.voluntir.voluntario.MenuVoluntarioActivity" />
        <activity android:name="br.com.voluntir.voluntario.CadastroVoluntarioActivity" />
        <activity android:name="br.com.voluntir.voluntario.MinhaContaVoluntarioActivity" />
        <activity android:name=".EsqueceuASenhaActivity" />
        <activity android:name="br.com.voluntir.ong.MinhaContaONGActivity" />
        <activity android:name="br.com.voluntir.ong.CadastroVagaActivity" />
        <activity android:name="br.com.voluntir.ong.CadastroONGActivity" />
        <activity android:name=".VisualizacaoVagaActivity" />
        <activity android:name="br.com.voluntir.ong.AprovacaoCandidatoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="br.com.voluntir.voluntir"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>